In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from io import StringIO
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from tabulate import tabulate  


#carregamento da base
df = pd.read_csv('https://raw.githubusercontent.com/bligui/Machine-Learning-Projetos/refs/heads/main/docs/projeto2/RankingT.csv')
print(df.sample(n=10, random_state=42).to_markdown(index=False))

|   id |   id_filme |   nota |   posicao | data       |
|-----:|-----------:|-------:|----------:|:-----------|
|  111 |         12 |    4.6 |        11 | 2025-11-06 |
|  420 |          5 |    0.4 |        20 | 2025-11-21 |
|  566 |          4 |    8.3 |         6 | 2025-11-29 |
|   78 |         20 |    2.4 |        18 | 2025-11-04 |
|  182 |          7 |    7.7 |         2 | 2025-11-10 |
|  285 |         17 |    6.8 |         5 | 2025-11-15 |
|   11 |          9 |    5.6 |        11 | 2025-11-01 |
|  470 |          9 |    5.6 |        10 | 2025-11-24 |
|   79 |         14 |    2.2 |        19 | 2025-11-04 |
|  350 |         19 |    6   |        10 | 2025-11-18 |

In [2]:
df.describe()

               id    id_filme        nota     posicao
count  600.000000  600.000000  600.000000  600.000000
mean   300.500000   10.500000    5.583667   10.500000
std    173.349358    5.771093    2.463612    5.771093
min      1.000000    1.000000    0.000000    1.000000
25%    150.750000    5.750000    3.900000    5.750000
50%    300.500000   10.500000    5.600000   10.500000
75%    450.250000   15.250000    7.400000   15.250000
max    600.000000   20.000000   10.000000   20.000000